<% include ../partials/header.ejs %>
   <!--div.container.>div.row>div.col-md-offset-3.col-md-6 (then press 'Tab' at the end of the line-->
  <div class="container ">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">   
        <h1><%= title %></h1>
        <p>Things you should or would like to know about me.</p>
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false"
                aria-controls="collapseOne"> Jason Pearson</a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <h4>Personal</h4>
              Age: 21 years old<br> 
              Location: Toronto, ON, Canada<br> 
              Ethnicity: Jamaican<br>
              Occupation: Game Developer<br> 
              <h4>Programming Languages:</h4> C++, C, C#, Java, HTML5, XML, SQL<br>
              <h4>IDEs/Engines Used:</h4> Visual Studio Ultimate 2013, VSCode, Eclipse Neon/Mars, Android Studio, Visual Paradigm, Unity Engine, Unreal Engine
              <br><br>And of course, Notepad++...<b>The Greatest Editor Known to Mankind</b><br>
              <h4>Cloud services:</h4> Microsoft Azure, Heroku, Google Cloud <br>              
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                aria-controls="collapseTwo">
                Education
                </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
            <h4>College Program:</h4>
            Software Engineering Technology - Interactive Gaming	
            <br>Centennial College - Scarborough, Ontario, Canada (2014-present)		
            <br>Expected Date of Graduation: Apr 2018
            <br>Expected Certification: Advanced Diploma			
            <br><h4>Relevant <a href="http://www.centennialcollege.ca/programs-courses/full-time/software-engineering-technology-interactive-gaming/#panelTwo">Courses</a> Include:</h4> Game Programming 1&2; Emerging Technologies; Web Game Programming;
            <br>Practical Game Design; Simulation Design; Advance Database Concepts;
            <br>Java Programming; Wireless Programming
            <br><h4>Relevant Projects Include:</h4> Web-based, Unity, Unreal, Android Apps
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                aria-controls="collapseThree">
                Leisure Activites
                </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <h2>Video Games</h2>
              <p>
                I try to play a variety of games this medium has to offer.
                <br>
                
                <h4>Series:</h4>
                <li>Metal Gear Solid</li>
                <li>Souls Series (Demon's Souls, Dark Souls, Bloodborne, etc)</li>
                <li>Final Fantasy</li>
                <li>Fallout</li>
                <li>BlazBlue</li>
                <li>The Legend of Heroes (Trails in the Sky, Trails of Cold Steel, etc</li>                
                <li>Final Fanatsy Tactics (Advance Series, War of the Lions, etc)</li>                
                <li>Golden Sun</li>                         
                <li>Etc...etc..</li>
                <br>
                <h4>PC Games:</h4>
                <li>Thankfully, <a href="http://steamcommunity.com/id/aconstantole/games/?tab=all">Steam</a> already provides an extensive list...</li>
                <hr>
                <h2>Other</h2> 
                <li>Biking</li>
                <li>Drumming</li>
                <li>Singing</li>
                <li>Reading</li>
                <li>Story Writing</li>
                <li>Playing Tenor Sax or Harmonica</li>
                <details>
                <summary> Anime</summary>
                <iframe width="500" height="281" src="https://www.youtube.com/embed/UDNvOwgkUoo?rel=0?ecver=1" frameborder="0" allowfullscreen></iframe>
                </details>
                <br>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>
    </div>
  </div>
 
<% include ../partials/footer.ejs %>