<% include ../partials/header.ejs %>
   <!--div.container.>div.row>div.col-md-offset-3.col-md-6 (then press 'Tab' at the end of the line-->
  <div class="container ">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">   
        <h1><%= title %></h1>
         <!-- Using Jumbotron (Bootstrap) -->
        <div>
          <div class= "jumbotron">
            <h3>My Contact Info</i></h3>
            <li>Email: aconstantole@gmail.com</li>
            <li>Email #2: jason-pearson-1-0-7@hotmail.com</li>
            <li>Location: Toronto, Ontario, Canada</li>
            <br>
            </div>
            </div>
      </div>
    </div>
  </div>

<% include ../partials/footer.ejs %>